In [1]:
import urllib.parse

password = 'vinod@123'
encoded_password = urllib.parse.quote(password)
print(encoded_password)  # Should print 'vinod%40123'

vinod%40123

In [2]:
import pandas as pd
from sqlalchemy import create_engine
conn_string = f'postgresql://postgres:{encoded_password}@localhost:5432/painting'
db = create_engine(conn_string)
conn = db.connect()

In [7]:
df = pd.read_csv(r"C:\Users\Vinod Reddy\Documents\cs433\SQL\data\artist.csv")

In [8]:
df.head()

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,500,Pierre-Auguste Renoir,Pierre,Auguste,Renoir,French,Impressionist,1841,1919
1,501,Alexandre Cabanel,Alexandre,NaN,Cabanel,French,Classicist,1823,1889
2,502,James Ensor,James,NaN,Ensor,Belgian,Expressionist,1860,1949
3,503,Maximilien Luce,Maximilien,NaN,Luce,French,Pointillist,1858,1941
4,504,August Macke,August,NaN,Macke,German,Expressionist,1887,1914

In [26]:
import os,glob
dir = os.path.join("data")
path = r"C:\Users\Vinod Reddy\Documents\cs433\SQL\data"

In [33]:
paths=[]
for i in os.listdir(path):
    df = pd.read_csv(os.path.join(path,i))
    df.to_sql(i[:-4], con=conn, if_exists='replace', index=False)

artist
canvas_size
image_link
museum
museum_hours
product_size
subject
work